* {
    margin: 0;
    padding: 0;
}

/* first banner */

.background{
   
    border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/imgs/banner-image.png');
    margin: 30px 100px;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px
    
}

#para{
color: white;
text-align: center;
font-family: Merriweather;
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: 0.1;
padding: 150px 200px 0 150px;
}
.header1{
    color: white;
text-align: center;
font-family: Merriweather;
font-size: 50px;
font-weight: 900;
}
/* main body starts */

.discount{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 40px;
font-weight: 700;
margin-bottom: 20px;
}

.offer{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 18px;
font-weight: 500;
margin-top: none;
}

#allCat{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700; /*  dicount part end */
}

/* second banner */

#banner-flex{
    display: flex;
}

.banner2{
    color: #FFF;
font-family: Merriweather;
font-size: 34px;
font-weight: 600;
letter-spacing: 6.04px;
text-align: left;
padding-left: 80px;
}

.background2{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/imgs/vector.png');
    width: 1320px;
height: 600px;
margin-left: 150px;
display: inline-block;

}

#para2{
color: white;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding-left: 80px;
width: 697px;
}

.join{
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;


color: #FFF;
text-align: center;
font-family: Inter;
font-size: 12px;
font-weight: 700;
text-transform: uppercase;
}

/* location related */

#location{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.1) 0%,rgba(255, 0, 0, 0) 100%);
    width: 1320px;
    height: 482px;
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
}

div h6 {
color: #070211;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
text-transform: capitalize;
padding: 5px;
}

div  span{
    color: #F00;
}
/* Coming soon banner CSS */

#coming-sec {
    display: flex; 
    margin-top: 30px; 
    padding-left: 140px; 
    justify-content: space-around; 
    width: 1320px;
}

#offer{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    width: 150px;
    padding-bottom: 5px;
}

#soonh2{
color: #070211;
font-family: Merriweather;
font-size: 30px;
font-weight: 900;
text-transform: capitalize;
width: 250px;
padding-bottom: 10px;
}

#exiting{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-weight: 400;
width: 430px;
}

.best-img{
border: 12px solid #F00;
padding: 15px;
border-radius: 364.844px;

}

.best-img img {
    max-width: 100%;
  width: 250px;
}

#year{
color: #F00;
font-family: Inter;
font-size: 20px;
font-weight: 700;
}

#thrlli{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
width: 320px;
}

/* New offer section close */

/* Hodiday sale 50% */

#banner3{
    text-align: center; 
    margin-top: 80px; 
    padding-left: 140px; 
    width: 1320px;
}

#functional{
color: #070211;
font-family: Inter;
font-size: 20px;
font-weight: 500;
}

#holiday{
    color: #070211;
font-family: Merriweather;
font-size: 50px;
font-weight: 900;
}

#holiday1{
color: #F00;
text-align: center;
font-family: Merriweather;
font-size: 50px;
font-weight: 900;
}

#explore{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;

}

/* Our awesome portfolio */


#besg{
color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

#oura{
color: #070211;
font-family: Merriweather;
font-size: 35px;
font-weight: 900;
text-transform: capitalize;
}

#introo{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
width: 896px;
}

.items{
    display: flex;
}

.product{
    margin: 5px;
}

.product img:hover {
    transform: scale(1.2);
    z-index: 1;
  }
/* Subscribe newletter section css */

.subs-container{
    align-content: center;
    margin-left: 140px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
}

#subs{
color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}

#subsnews{
color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 400;
max-width: 896px;
padding-left: 270px;
}

.subs-container form {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
  }

  .subs-container form input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 50px 0px 0px 50px;
    background: #fff;
    border: none;
  }

  .subs-container form button {
    padding: 20px 30px;
    border-radius: 0px 50px 50px 0px;
    background: #f00;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .subs-container form input::placeholder {
    color: rgba(7, 2, 17, 0.3);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  #footer{
    background-color: #070211;
  }

  #con-info{
    display: flex; 
    justify-content: space-around; 
    padding-top: 100px;
  }

  .addres{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
  }

#social{
    padding-left: 700px;
}

#allr , #uns{

color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

#allr h3{
    padding-left: 140px;
    padding-top: 200px;
}

#uns h3{
    /* padding-right: 200px; */
}
