.background{
    /* display: flex; */
    background-image: url('/Images/Banner\ Image.png');
    margin: 30px 100px;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px
}

#para{
color: #d6d0d0;
text-align: center;
font-family: Merriweather;
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding: 150px 200px 0 150px;
}


.header1{
    color: #d6d0d0;
text-align: center;
font-family: Merriweather;
font-size: 50px;
font-weight: 900;
}


/* main body starts */

.discount{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 40px;
font-weight: 700;
}

.offer{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 18px;
font-weight: 500;
margin-top: none;
}

#allCat{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700; /*  dicount part end */
}